@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  margin: 0;
  min-height: 100%;
  background: #050505;
}

body {
  overflow-x: hidden;
}

.app-page {
  padding-bottom: 110px;
}
.pwa-overlay{
  position:fixed;
  inset:0;
  background:rgba(0,0,0,.82);
  backdrop-filter:blur(10px);
  z-index:99999;

  display:flex;
  align-items:center;
  justify-content:center;

  padding:20px;
}

.pwa-modal{
  width:100%;
  max-width:420px;

  background:#111;
  border-radius:24px;

  padding:28px;

  border:1px solid
  rgba(255,255,255,.08);

  text-align:center;
}

.pwa-modal h2{
  font-size:30px;
  margin-bottom:16px;
}

.pwa-modal p{
  color:#b6b6b6;
  line-height:1.7;
  margin-bottom:14px;
}

.pwa-install-btn{
  width:100%;
  padding:16px;

  border:none;
  border-radius:14px;

  background:#ff2d55;
  color:white;

  font-weight:800;

  margin-top:10px;
}

.pwa-secondary-btn{
  width:100%;
  padding:16px;

  margin-top:10px;

  border:none;
  border-radius:14px;

  background:#1c1c1c;
  color:white;
}

.pwa-later-btn{
  width:100%;
  padding:16px;

  margin-top:10px;

  background:transparent;

  border:none;

  color:#8c8c8c;
}

.terms-overlay{
  position:fixed;
  inset:0;

  background:rgba(0,0,0,.85);

  backdrop-filter:blur(10px);

  z-index:99998;

  display:flex;
  justify-content:center;
  align-items:center;

  padding:20px;
}

.terms-modal{
  width:100%;
  max-width:500px;

  background:#111;

  border-radius:24px;

  padding:28px;

  text-align:center;

  border:1px solid
  rgba(255,255,255,.08);
}

.terms-modal h2{
  margin-bottom:16px;
}

.terms-modal p{
  color:#b6b6b6;
  line-height:1.7;
}

.terms-links{
  display:flex;
  flex-direction:column;
  gap:10px;

  margin:24px 0;
}

.terms-links button{
  color:#ff2d55;
  text-decoration:none;
  font-weight:700;
}

.terms-accept-btn{
  width:100%;

  padding:16px;

  border:none;

  border-radius:14px;

  background:#ff2d55;

  color:white;

  font-weight:800;

  cursor:pointer;
}